body {
	margin: 0;
}

.container {
	max-width: 1500px;
}

.div-buscar-vagas {
	width: 100%;
	position: relative;
	text-align: left;
	color: white;
	font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.img-background {
	width: 100%;
	height: auto;
}

.banner-content {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.banner-content h2 {
	color: white;
	margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 70px;
    font-weight: bold;
}

.banner-content p {
	margin: 15px 0 30px;
    line-height: 40px;
}

.banner-content p a {
	color: white;
	text-decoration: none;
	background-color: rgba(130, 36, 226, 0.6);
    padding: 3px 8px 3px 8px;
    border-radius: 8px;
    border-style: none;
}

.banner-content form {
    background-color: rgba(26, 0, 56, 0.3);
    border-radius: 8px;
    border-style: none;
    width: fit-content;
    padding: 10px 30px 10px 15px; 
}

.banner-content form .caixa {
	background-color: rgba(2, 2, 2, 0.3);
	width: 250px;
	height: 40px;
    padding: 0 0 0 5px;
    border-radius: 8px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    /*width: 100%;*/
    margin-right: 25px;
    color: #FFFF;
}

.banner-content form button {
	display: inline-flex;
    vertical-align: top;
	color: white;
    background-color: rgba(130, 36, 226);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
	height: 40px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 8px;
}

.banner-content form button i {
	margin-left: 10px;
    align-self: center;
}

.div-vagas-resultados {
	padding: 30px 10px 70px 10px;
}

.display-vaga {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #E7E6E8;
    border-radius: 8px;
    padding: 10px 60px 10px 20px;
    -webkit-box-shadow: 1px 5px 12px #FBF8FF;
    box-shadow: 1px 5px 12px #FBF8FF;
    font-family: "Roboto", sans-serif;
}

.display-vaga h2 {
	color: #8224E2;
	font-size: 30px;
    font-weight: bold;
	margin: 0;
}

.display-vaga .cidade-estado {
	color: gray;
	font-size: 17px;
	line-height: 40px;
}

.display-vaga p {
	color: #070707;
	margin: 0;
	text-align: justify;
	font-size: 19px;
}

.display-vaga button {
	color: white;
	background-color: rgba(130, 36, 226, 0.6);
	padding: 10px;
	border-radius: 8px;
	border-style: none;
	margin-top: 15px;
	font-size: 20px;
}

.display-vaga:hover {
	-webkit-box-shadow: 1px 5px 12px #E7E6E8;
	box-shadow: 1px 5px 12px #E7E6E8;
}

.display-vaga:hover h2 {
	color: #8224E2;
}

.display-vaga:hover .cidade-estado {
	color: #070707;
}

.display-vaga:hover p {
	color: #070707;
}

.display-vaga:hover button {
	background-color: #8224E2;
}

@media screen and (max-device-width: 960px) {
	.img-background {
		height: 500px!important;
		width: 98%!important;
		margin-left: 1%;
	}

	.banner-content h2 {
		font-size: 50px;
	}

	.banner-content p {
    	font-size: 20px;
    	line-height: 30px;
	}

	.banner-content form {
		width: 50%;
	}

	.banner-content form .caixa {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-device-width: 500px) {
	.banner-content form {
	    width: 100%;
	    display: grid;
	    padding: 10px 15px 10px 15px;
	}

	.banner-content button {
		margin-top: 10px;
	}

}