//colors

$primarycolor: #8224E2;
$white: #FFFF;
$buttoncoloropacity: rgba(130, 36, 226, 0.6);
$backcoloropacity: rgba(26, 0, 56, 0.3);
$boxcoloropacity: rgba(2, 2, 2, 0.3);


//Fonts

$pacifico:'Pacifico', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;


